.app__navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffbd3;
    padding: 1rem 2rem;
}
.container-nav{
  background-color:#fffbd3;
  padding-top: 30px;
}
.wrapper{
    padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffbd3;
  
}
.left{
    flex: 1;
  display: flex;
  align-items: center;
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.center{
    flex: 1;
  text-align: center;
}

.logo img{
    width: 160px;
}

.menuItem{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}

.searchContainer{
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

input{
    border: none;
}
.menuItem a{
    text-decoration: none;
    color: inherit;
    transition: 0.5s ease;
}

.menuItem a:hover{
    border-bottom: 2px solid black ;
}
