.app__header{
    background-color: #fffbd3;
    
}

.app__header-h1{
    color: #000;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 70px;
}

.app__wrapper_img img{
    padding-top: 80px;
    width: 450px;
    padding-right: 50px;
}

.app__wrapper_info button{
   margin-top: 20px;
}

.button__hover:hover{
    background-color: grey ;
    color: black;
    transition: 0.5s ease;
}